<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragment/header :: header}"></th:block>
    <meta charset="UTF-8">
    <title th:text="Status"></title>
    <script th:src="@{/js/urlcontrol.js}" language="JavaScript"></script>
    <script th:src="@{/js/StatusInModal.js}" language="JavaScript"></script>
    <style>
        table {
            border-radius: 0.5rem;
        }

        td {
            padding: 0.5rem;
        }
    </style>
    <script language="JavaScript" th:inline="javascript">
        $(function () {
            $(".page-link").click(function () {
                if ($(this).attr("id")=="top-page"){
                    query["page"]="1";
                }else if($(this).attr("id")=="next-page"){
                    query.page="[[${solutions.number}]]"+1;
                }else if($(this).attr("id")=="last-page"){
                    query.page="[[${solutions.number}]]"-1;
                }
                url=location.href+"?username="+query.username+"&problem="+query.problem+"&result="+query.result+"&page="+query.page;
                location.href=url;
            });
            $("#search-submit").click(function () {
                query.username=$("#search-username").val();
                query.problem=$("#search-problem").val();
                query.result=$("#search-result").val();
                url=location.href+"?username="+query.username+"&problem="+query.problem+"&result="+query.result+"&page="+query.page;
                location.href=url;
            });
        });
    </script>
</head>
<body>
<div class="container" height="100%">
    <div th:text="${solutions.number}"></div>
    <form class="container form-inline">
        Username:<input type="text" id="search-username" class="form-control" name="username">
        Problem: <input type="text" id="search-problem" class="form-control" name="problem">
        Result:<select name="result" class="form-control" id="search-result">
        <option value="" selected>All</option>
        <option value="Accepted">Accepted</option>
        <option value="Wrong Answer">Wrong Answer</option>
        <option value="Time Limit Exceed">Time Limit Exceed</option>
        <option value="Memory Limit Exceed">Memory Limit Exceed</option>
        <option value="Compile Error">Compile Error</option>
        <option value="Runtime Error">Runtime Error</option>
    </select>
        <input type="submit" id="search-submit" class="btn btn-primary" value="Go" onclick="return false">
    </form>
    <table class="table-sm table-hover table-responsive-xl table-bordered table-light container-fluid"
           style="opacity: 0.8">
        <thead class="thead-light text-center">
        <tr>
            <th>Run ID</th>
            <th>Username</th>
            <th>Problem</th>
            <th>Result</th>
            <th>Time(ms)</th>
            <th>Memory(KB)</th>
            <th>Length</th>
            <th>Language</th>
            <th>Submit Time</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="solution,iter:${solutions}" th:object="${solution}">
            <td th:text="*{id}"></td>
            <td th:text="*{user.username}"></td>
            <td><a th:href="'/showproblem?id='+*{problem.id}" th:text="*{problem.id}"></a></td>
            <td th:switch="*{result}" th:id="*{id}" class="view-code">
                <span th:case="'Accepted'" class="text-success font-weight-bold">Accepted</span>
                <span th:case="'Compile Error'" class="text-muted" th:text="*{result}"></span>
                <span th:case="'Pending'" class="text-muted" th:text="*{result}"></span>
                <span th:case="'Running*'" class="text-muted" th:text="*{result}"></span>
                <span th:case="*" class="text-danger" th:text="${solution.result}"></span>
            </td>
            <td th:text="*{time}"></td>
            <td th:text="*{memory/1024}"></td>
            <td th:text="*{length}"></td>
            <td><a class="view-code" th:id="*{id}" th:text="*{normalLanguage}"></a></td>
            <td th:text="*{normalSubmitTime}"></td>
        </tr>
        </tbody>
    </table>
    <div class="container text-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" id="top-page">Top</a></li>
            <li class="page-item"><a class="page-link" id="last-page">Last</a></li>
            <li class="page-item"><a class="page-link" id="next-page">Next</a></li>
        </ul>
    </div>
</div>
<div class="modal fade" id="codeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Source Code</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table-sm table-light table-responsive-sm">
                    <thead class="thead-light text-center">
                    <tr>
                        <th>Run ID</th>
                        <th>Username</th>
                        <th>Problem</th>
                        <th>Result</th>
                        <th>Time(ms)</th>
                        <th>Memory(B)</th>
                        <th>Length</th>
                        <th>Language</th>
                        <th>Submit Time</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <td id="modal-id"></td>
                    <td id="modal-username"></td>
                    <td id="modal-problem"></td>
                    <td id="modal-result"></td>
                    <td id="modal-time"></td>
                    <td id="modal-memory"></td>
                    <td id="modal-length"></td>
                    <td id="modal-language"></td>
                    <td id="modal-submit-time"></td>
                    </tbody>
                </table>
                <button class="btn btn-sm share-code btn-danger" id="modal-share" th:if="${session.currentUser!=null}">
                    Not Shared
                </button>
                <pre id="modal-ce"></pre>
                <pre class="prettyprint"><code id="source_code"></code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>